.section__header {
    text-align: center;
    font-size: 2rem;
    margin: 3% auto;
}

.service-areas {
    width: 100%;
    position: relative;
    background:  #e7ebf0;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0;
}

.location__header{
    text-align: center;
    font-size: 1.7rem;
    margin: 3%;
    border-top: 3px solid;
    
}

.location_description {
 display: flex;
 align-content: center;
 margin: 4% auto;
}

 .place {
     font-size: 1.2rem;
     align-items: center;
     width: 95%;
     margin: 0;     
     margin-left: 5%;
 }

    